$accent: #b40b3eb7;
$toffy: #b6452c;
$chocolate: #523634;
$kakao: #301b28;
$light: #f9f6f1;
$dark-gray: #8d8d8d;
$dark: #000000;

@mixin breakpoint($point) {
    @if $point == lg {
        @media (max-width:992px){
            @content;
        }
    }
    @else if $point == md{
        @media (max-width:768px){
            @content;}
        }
    @else if $point == sm{
            @media (max-width:768px){
                @content;
            }    
    }
    @else if $point == xs{
        @media (max-width:320px){
            @content;
        } } 
    @else if $point == minlg{
            @media (min-width:993px){
                @content;
            }         
}
    
}