$accent: #b40b3eb7;
$toffy: #b6452c;
$chocolate: #523634;
$kakao: #301b28;
$light: #f9f6f1;
$dark-gray: #8d8d8d;
$dark: #000000;
$gradient: linear-gradient(132.05deg, #b40b3eb7 -17%, #112120 78%), #204434;

body {
  font-family: "Outfit", sans-serif;
  font-family: "Roboto Slab", serif;
}
.logo {
  padding-bottom: 0;
  margin-bottom: 0;
}
.page-light {
  background-color: $gradient;
  border-bottom-color: #000;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 80px;
  list-style-type: none;
  padding-left: 0;

  &-item {
    display: flex;
    column-gap: 80px;
    font-size: 15px;
    font-weight: 500;
    margin-left: 52px;
  }
  &-link {
    position: relative;
    color: $dark;
    text-decoration: none;
  }
  &-link-active{
    color: $dark;
    text-decoration: none;
  }
  &-link-active::after {
    content: "";
    color: $accent;
    position: absolute;
    display: block;
    width: 68px;
    height: 10px;
    background-color: $accent;
    text-decoration-color: $accent;
    border-radius: 50px;
  }
  &-link:hover::after {
    content: "";
    color: $accent;
    position: absolute;
    display: block;
    width:100%;
    height: 10px;
    background-color: $accent;
    text-decoration-color: $accent;
    border-radius: 50px;
  }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
img {
  display: block;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
.container .gallery{
  max-width: 93rem;
  margin: 0 auto;
  padding: 0 2rem;
}
.btn {
  display: inline-block;
  font: inherit;
  background-color: $accent;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

.btn:focus {
  outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
/* Profile Section */

.profile {
  padding: 5rem 0;
  width: 100%;
  background-color: $light;
}

.profile::after {
  content: "";
  display:flex;
  
}

.profile-image {
  float: left;
  width: calc(33.333% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

.profile-image img {
  border-radius: 50%;
  height: 30%;
  width: 40%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
  float: left;
  width: calc(66.666% - 2rem);
}

.profile-user-settings {
  margin-top: 1.1rem;
}

.profile-user-name {
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 300;
}

.profile-edit-btn {
  font-size: 1.4rem;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
  margin-left: 2rem;
}
.profile-edit-btn a{
  text-decoration: none;
  color: #000;
  ;
}
.profile-settings-btn {
  font-size: 2rem;
  margin-left: 1rem;
}

.profile-stats {
  margin-top: 2.3rem;
}

.profile-stats li {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-right: 4rem;
  cursor: pointer;
}

.profile-stats li:last-of-type {
  margin-right: 0;
}

.profile-bio {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
  font-weight: 600;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.gallery-item {
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  width: 500px;
  height: 500px;
}




.gallery-item-info {
  display: none;
}

.gallery-item-info li {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
}

.gallery-item-likes {
  margin-right: 2.2rem;
}

.gallery-item-type {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
  transform: rotateY(180deg);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal{
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 00.3s ease-out;
}
.modal.open{
  opacity: 1;
  pointer-events: all;
}
.full-img{
  position: absolute;
  height: 80%;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.5);
  transition: all 0.3s ease-out;
}
.full-img.open{
  transform: translate(-50%,-50%) scale(1);
}
/* Media Query */

@media screen and (max-width: 400px) {
  .profile {
      display: flex;
      flex-wrap:wrap;
      padding: 4rem 0;
      background:none;
  }

  .profile::after {
      display: none;
  }

  .profile-image,
  .profile-user-settings,
  .profile-bio,
  .profile-stats {
      float: none;
      width: auto;
      height: auto;
  }

  .profile-image img {
      width: 5.7rem;
  }

  .profile-user-settings {
      flex-basis: calc(100% - 12.7rem);
      display: flex;
      flex-wrap: wrap;
      margin-top: 0rem;
  }

  .profile-user-name {
      font-size: 2.2rem;
  }

  .profile-edit-btn {
      order: 1;
      padding: 0;
      text-align: center;
      margin-top: 1rem;
  }

  .profile-edit-btn {
      margin-left: 0;
  }

  .profile-bio {
      font-size: 1.4rem;
      margin-top: 1.5rem;
  }

  .profile-edit-btn,
  .profile-bio,
  .profile-stats {
      flex-basis: 100%;
  }

  .profile-stats {
      order: 1;
      margin-top: 1.5rem;
  }

  .profile-stats ul {
      display: flex;
      text-align: center;
      padding: 1.2rem 0;
      border-top: 0.1rem solid #dadada;
      border-bottom: 0.1rem solid #dadada;
  }

  .profile-stats li {
      font-size: 1.4rem;
      flex: 1;
      margin: 0;
  }

  .profile-stat-count {
      display: block;
  }
}
@supports (display: grid) {
  .profile {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: repeat(3, auto);
      grid-column-gap: 3rem;
      align-items: center;
  }

  .profile-image {
      grid-row: 1 / -1;
  }

  .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
      grid-gap: 2rem;
  }

  .profile-image,
  .profile-user-settings,
  .profile-stats,
  .profile-bio,
  .gallery-item,
  .gallery {
      width: auto;
      margin: 0;
      height: auto;
  }

  @media (max-width: 40rem) {
      .profile {
          grid-template-columns: auto 2fr;
          grid-row-gap: 1.5rem;
      }

      .profile-image {
          grid-row: 1 / 2;
      }

      .profile-user-settings {
          display: grid;
          grid-template-columns: auto 1fr;
          grid-gap: 1rem;
      }

      .profile-edit-btn,
      .profile-stats,
      .profile-bio {
          grid-column: 1 / -1;
      }

      .profile-user-settings,
      .profile-edit-btn,
      .profile-settings-btn,
      .profile-bio,
      .profile-stats {
          margin: 0;
      }
  }
}
